<html>
  <head>
      <%- include partials/head %>
  </head>
  <body>
  <header>
      <%- include partials/header %>
  </header>
      
    <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:3000/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="my_profile_pic" />
        <input type="file" name="my_pet" />
        <input type="file" name="my_cover_photo" />
        <input type='submit' value='Upload!' />
    </form>    
    <footer><%- include partials/footer%></footer> 
  </body>
</html>